# Data
data/raw/
*.duckdb
*.duckdb.wal

# Orchestration
.dagster/

# dbt
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/.user.yml

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
.pytest_cache/
.ruff_cache/
build/
dist/

# Env
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
